<div class="header">
    <div class="header-logo">
        <a routerLink="/" class="link">Anime List</a>
    </div>
    <div class="header-left">
        <button mat-raised-button routerLink="/anime" color="primary">Anime</button>
        <button mat-raised-button routerLink="/manga" color="primary">Manga</button>
        <button mat-raised-button routerLink="/top" color="primary">Top</button>
    </div>
    <div class="header-right">

    </div>
</div>
<div class="body">
    <app-card></app-card>
</div>
<div></div>
