<div class="body">
    <div class="related-anime">Сейчас на экранах:</div>
    <hr class="hr-related-anime">
    <tui-carousel
        [itemsCount]="5"
        [(index)]="index"
    >
        <ng-container *ngFor="let item of items">
            <tui-island
                *tuiItem
                class="item"
            >
                <h2 class="tui-island__title">{{ item.title }}</h2>
                <img class="tui-island__content" src="{{ item.images.webp.image_url }}">
            </tui-island>
        </ng-container>
    </tui-carousel>
    <tui-pagination
        size="m"
        class="tui-space_top-4"
        [length]="roundedLength"
        [index]="rounded"
        (indexChange)="onIndex($event)"
    ></tui-pagination>
</div>

