@font-face {
    font-family: Littlewitch;
    src: url("../../../assets/fonts/LittlewitchRegular.otf") format("opentype");     
}

.header {
    display: grid;
    width: 100%;
    height: 80px;
    background-color:  #759cd8;
    position: sticky;
    top: 0;
    grid-template-columns: 250px 500px 600px;
    
    &-logo {
        display: inline-block;
        width: 200px;
        margin-left: 50px;
        margin-top: 30px;
        font-family: 'Littlewitch';
        font-size: 60px;
        :visited {color: black};
        :any-link {color: black};
    }

    &-left {
        display: inline-block;
        width: 500px;
     }

    &-right {
        display: inline-block;
        width: 600px;
        text-align: right;
        margin: 30px;
    }
}

.link {
    text-decoration: none;
}

.mat-raised-button {
    width: 100px;
    border-radius: 25% 10%;
    margin: 20px;
}

.input {
    width: 350px;
    height:10px;
}